<!DOCTYPE html>
<html  lang="ro">
    <head>
        <link rel="stylesheet" href="../resurse/css/produse.css" type="text/css" />
        <title>Levi's shop</title>
        <%- include("../fragmente/head") %>
        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <script src=/resurse/js/tema.js></script>

    </head>
    <body>
    <%- include("../fragmente/header") %>
    <main>
        <button class="btn btn-primary" id="filtre">Afiseaza filtre</button><br><br>
        <form class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="form-floating">
                        <textarea class="form-control" id="inp-nume" rows="1" cols="20" required></textarea>
                        <label for="inp-nume">Nume</label>
                        <div class="valid-feedback">Super!</div>
                        <div class="invalid-feedback">Alege, te rog, un nume.</div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="inp-cheie">Cuvant cheie: </label>
                    <input type="text" id="inp-cheie" class="form-control">
                </div>
            </div><br>
                <div class="row">
                    <div class="col-sm"> Subiecte:
                        <label>Putine subiecte (subiecte &lt; 2)<input id="i_rad1"  name="gr_rad" value="0:2" type="radio" class="custom-control-input"/></label><br>
                        <label>Incarcata (2 &le; subiecte &lt; 5)<input id="i_rad2"  name="gr_rad" value="2:5" type="radio" class="custom-control-input"/></label><br>
                        <label>Foarte incarcata (5 &le; subiecte)<input id="i_rad3" name="gr_rad" value="5:1000000000" type="radio" class="custom-control-input"/></label><br>
                        <label>Toate<input id="i_rad4" checked name="gr_rad" value="toate" type="radio" class="custom-control-input"/></label><br>
                    </div>
                    <div class="col-sm">
                        <label> Pret minim: <input type="range" id="inp-pret" value="0" min="0"  max="70"> <span id="infoRange">(0)</span></label>
                    </div><br><br>
                    <script>
                        var rangeInput = document.getElementById("inp-pret");
                        var infoRange = document.getElementById("infoRange");
                    
                        rangeInput.addEventListener("input", function() {
                            infoRange.textContent = "(" + rangeInput.min + " - " + rangeInput.max + ")";
                        });
                    </script>
                </div><br>
                <div class="row">
                    <div class="col-sm">
                        <label for="inp-categorie">Categorie simpla:</label>
                        <input list="inp-categorielist" id="inp-categorie" name="inp-categorie" value="toate"><br><br>
                        <datalist id="inp-categorielist">
                            <% for (let opt of locals.optiuni) { %>
                                <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                            <% } %>
                        </datalist>
                    </div>
                    <div class="col-sm">
                        <label for="inp-categoriem">Categorie multipla:</label>
                        <button class="btn btn-primary" id="btn-inp-categoriem">Arata</button>
                        <select list="inp-categorielistm" id="inp-categoriem" name="inp-categoriem" value="toate" multiple>
                            <option value="toate">toate</option>
                            <% for (let opt of locals.optiuni) { %>
                                <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                            <% } %>
                        </select><br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <label>Family friendly:
                            <select id="inp-sfw">
                                <option id="sel-toate" selected value="toate">toate</option>
                                <option value="true">da</option>
                                <option value="false">nu</option>
                            </select>
                        </label><br><br>
                    </div>
                    <div class="col-sm">
                        <fieldset>
                            <label>Alege cateva proprietati cheie:</label>
                            <div class="inp-checkbox">
                                <input type="checkbox" id="noutati"><label for="noutati">&emsp;&emsp;Noutati</label><br>
                                <input type="checkbox" id="aldoilea"><label for="aldoilea">&emsp;&emsp;Al doilea</label><br>
                                <input type="checkbox" id="altreilea"><label for="altreilea">&emsp;&emsp;Al treilea</label><br>
                            </div>
                        </fieldset><br>
                        <p>
                    </div>
                </div>
            </div>
        </form>
        <script>
            (function() {
              'use strict';
              window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                  }, false);
                });
              }, false);
            })();
        </script>
        <p>
            <button class="btn btn-primary" id="filtrare"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg> <a>Filtreaza</a></button> 
            <button class="btn btn-primary" id="resetare"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
              </svg> <a>Reseteaza</a></button><br/><br>
            <button class="btn btn-primary" id="sortCrescNume"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
              </svg> <a>Sorteaza crescator dupa nume si raport</a></button>
            <button class="btn btn-primary" id="sortDescrescNume"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
              </svg>  <a>Sorteaza descrescator dupa nume si raport</a></button>
            <br><br><button class="btn btn-primary" id="ieftin">Cel mai ieftin produs</button> 
            <button class="btn btn-primary" id="scump">Cel mai scump produs</button> 
            </p>
            <br><button class="btn btn-primary" id="sumaproduselor"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
              </svg> <a>Suma preturilor produselor afișate.</a></button><br><br>
        <section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <div class ="produsfinal">
                        <article class="produs">
                            <h3 class="nume"><%-prod.id %>. Nume: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                            <p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span></p>
                            <p class="categorie">Categorie: <span class="val-categorie"><%- prod.categorie%></span></p>
                            <p class="subiecte">Subiecte: <span class="val-subiecte"><%- prod.subiecte%></span></p>
                            <p class="descriere">Descriere: <span class="val-descriere"><%- prod.descriere%></span></p>
                            <p class="distantafocala">Distanta focala: <span class="val-distantafocala"><%- prod.distanta_focala%>mm</span></p>
                            <p class="dataCreare"><time class="data-creare" datetime="<%- prod.data_creare%>">Data creare: </time></p>
                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                            <script src="otherScript.js"></script>
                            <script>
                                $(document).ready(function() {
                                    var prodDataCreareArray = [];
                                    $(".data-creare").each(function() {
                                        var dataCreareElement = $(this);
                                        var dataCreareValue = dataCreareElement.attr("datetime");
                                        prodDataCreareArray.push(dataCreareValue); 
                                        if (dataCreareElement.text().trim().startsWith("Data creare:")) {
                                            var dataCreare = new Date(dataCreareValue);
                                            var options = { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' };
                                            var formattedDataCreare = dataCreare.toLocaleDateString('ro-RO', options);
                                            dataCreareElement.text("Data creare: " + formattedDataCreare);
                                        }
                                    });
                                    window.prodDataCreareArray = prodDataCreareArray; 
                                });
                            </script>                                
                            <p class="sfw">Family friendly: <span class="val-sfw"><%- prod.family_friendly%></span></p>
                            <figure class="poza">
                                <a href="/produs/<%-prod.id %>" id="poza"><img src="/resurse/imagini/produse/<%- prod.imagine %>" style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" id="poza"/></a>
                            </figure>
                        </article>
                        <label class="btn btn-primary" id="buton">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label>
                    </div>
                <% }%>
            </div>
        </section>
    </main>
    <%- include("../fragmente/footer") %>
    </body>
</html>